* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  color: #954856;
  cursor: pointer;
  font-size: 24px;
  margin: 5px 35px 20px 0;
  padding: 10px;
  text-align: center;
  height: 300px;
  width: 300px;
  position: relative;
}

.featured-container {
  background-color: #253848;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  margin: 5px 35px 35px 0;
  padding: 10px;
  text-align: center;
  height: 309px;
  width: 100%;
  position: relative;
}

.pet-details {
  background-color: #253848;
  color: #F8FDF8;
  font-size: 24px;
  padding: 5px 0;
  position: absolute;
  bottom: 0px;
  left: 9.5px;
  z-index: 1;
  width: 300.5px;
}

.pet-description {
  background-color: #fff;
  display: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  overflow: scroll;
  padding: 15px;
  position: absolute;
  top: 309px;
  left: 10px;
  opacity: 0.7;
  height: 250px;
  width: 300px;
}

.featured-desc {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: scroll;
  padding: 20px;
  position: absolute;
  top: 10px;
  left: 310px;
  opacity: 0.7;
  height: 300px;
}

.featured-title {
  font-size: 24px;
  padding: 2px 2px 5px 2px;
}

.card-container:hover .pet-description {
  display: block;
  cursor: pointer;
}

.card-container:hover {
  height: 600px;
  transition: .75s ease;
  transition: .75s ease-out;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: .9;
  padding: 20px;
  position: absolute;
  left: 7px;
  top: 11px;
  z-index: 4;
}

.button-div {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  position: absolute;
  left: 7px;
  top: 11px;
  width: 40px;
  height: 40px;
}

.svg-inactive {
  fill: #fff;
  position: absolute;
  left: 7px;
  top: 0px;
  z-index: 1;
}

.svg-inactive:hover {
  fill: #954856;
}

.svg-active {
  fill: #954856
}

button .dog-ear-btn {
  background-color: #253848;
  border: none;
  border-radius: 2px;
}

.image {
  position: relative;
}

img {
  background-color: #253848;
  height: 290px;
  width: 300px;
  position: absolute;
  left: 0px;
}
