* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  color: #954856;
  font-size: 24px;
  margin: 5px 35px 5px 0;
  padding: 10px;
  text-align: center;
  height: 300px;
  width: 200px;
  position: relative;
}

.pet-details {
  background-color: #253848;
  color: #F8FDF8;
  font-size: 16px;
  opacity: 0.8;
  padding: 5px 0;
  position: relative;
  top: -6px;
  left: 0px;
  z-index: 1;
  width: 200px;
}

.pet-details:hover {
  background-color: #954856;
  opacity: 1;
  cursor: pointer;
}

.pet-description {
  display: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  overflow: scroll;
  padding: 10px;
  position: relative;
  bottom: 45px;
  text-align: left;
  height: 100px;
  width: 260px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: .8;
  padding: 20px;
  position: relative;
  left: -67px;
  top: 42px;
}

.button-div {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  position: relative;
  left: 0px;
  top: 90px;
  width: 40px;
  height: 40px;
}

svg {
  fill: #954856;
  position: relative;
  left: -17px;
  top: -17px;
  opacity: 1;
}

svg:hover {
  fill: #fff;
}

button .dog-ear-btn {
  background-color: #253848;
  border: none;
  border-radius: 2px;
}

img {
  z-index: -1;
  height: 200px;
  width: 200px;
}
