* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  background-color: #F8FDF8;
  box-shadow: 1px 1px 0 0 #253848;
  color: #954856;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  height: 355px;
  width: 300px;
}

.pet-details {
  background-color: #253848;
  color: #F8FDF8;
  font-size: 16px;
  opacity: 0.8;
  padding: 5px 0;
  position: relative;
  bottom: 55px;
  left: 40px;
  z-index: 1;
  width: 200px;
}

.pet-description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  overflow: scroll;
  padding: 10px;
  position: relative;
  bottom: 45px;
  text-align: left;
  height: 100px;
  width: 260px;
}

.featured {
  margin-left: 75px;
  text-align: center;
}

button {
  background-color: #253848;
  border: none;
  border-radius: 12px;
  color: #F8FDF8;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
}

button:hover {
  background-color: #F8FDF8;
  box-shadow: 1px 1px .5px .5px #253848;
  color: #253848;
}

.button-div {
  align-items: flex-end;
  display: flex;
}

button .dog-ear-btn {
  background-color: #253848;
  border: none;
  border-radius: 2px;
}

button .dog-ear-btn:hover {
  background-color: #ABA62F;
}

img {
  z-index: -1;
  height: 200px;
  width: 200px;
}
