.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: center;
  height: 10px;
}

.search p {
  margin-right: 10px;
}

.submit-btn {
  background-color: #253848;
  border: none;
  color: #F8FDF8;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 6.5px;
  height: 25px;
}

.submit-btn:hover {
  background-color: #954856;
}

.input-box {
  border: none;
  margin: 10px -1px;
  outline: none;
  padding-left: 3px;
  height: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
